services:
  agent:
    build:
        context: .
        dockerfile: Dockerfile
    container_name: agent
    environment:
      - CLOGS_BACKEND_URL=http://localhost:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host